@page
@model KatieComedy.Web.Pages.Admin.Biography.EditModel

<div id="preview">
</div>

<form method="post">
    <label asp-for="Text" class="mb-2"></label>
    <textarea asp-for="Text" class="form-control" rows="3"></textarea>
    <span asp-validation-for="Text" class="text-danger"></span>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document
            .getElementById("Text")
            .addEventListener("input", async () => {
                const text = document.getElementById("Text").value;
                const response = await fetch("/admin/api/biography?" + new URLSearchParams({ text: text }));
                const html = response.ok
                    ? await response.text()
                    : "<span class='text-danger'>Error fetching biography preview.</span>";

                document.getElementById("preview").innerHTML = html;
            });
    </script>
}