@page
@model KatieComedy.Web.Pages.Admin.Biography.EditModel

@{
    ViewData["Title"] = "Edit Biography";
}

<div class="flex-column" style="width:34rem;">
    <div class="mb-3 d-flex justify-content-between">
        <h4 class="mb-0">@ViewData["Title"]</h4>
    </div>

    <div id="accordion" class="accordion mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="true" aria-controls="collapseOne">
                    Preview
                </button>
            </h2>
            <div id="collapse" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                <div id="biography-preview" class="accordion-body">
                    @Html.Raw(Model.Html)
                </div>
            </div>
        </div>
    </div>

    <form method="post">
        <div class="col-md-12">
            <textarea asp-for="Text" class="form-control" style="height:14rem;"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-3 ps-1 pe-1">
            <small class="text-muted">To include a link, format like so: [link title here](https://url-here.com)</small>
        </div>

        <div class="col-md-12">
            <button class="btn btn-primary me-1">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document
            .getElementById("Text")
            .addEventListener("input", async () => {
                const text = document.getElementById("Text").value;
                const response = await fetch("/admin/api/biography?" + new URLSearchParams({ text: text }));
                const html = response.ok
                    ? await response.text()
                    : "<span class='text-danger'>Error fetching biography preview.</span>";

                document.getElementById("biography-preview").innerHTML = html;
            });
    </script>
}