@using static KatieComedy.App.Constants
@using KatieComedy.App.Email

@inject IOptions<EmailOptions> emailOptions
@inject UserManager<IdentityUser> userManager

@{
    var idUser = await userManager.GetUserAsync(User);
    var isOwner = idUser is not null && await userManager.IsInRoleAsync(idUser, Roles.Owner);
    var loggedIn = User?.Identity?.IsAuthenticated ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KatieComedy</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+IN:wght@100..400&display=swap" rel="stylesheet">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link link-light" asp-page="/Index">Home</a>
                        </li>
                        @if (loggedIn)
                        {
                            <li class="nav-item">
                                <a class="nav-link link-light" asp-page="/Admin/Appearances/Index">Appearances</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light" asp-page="/Admin/Photos/Index">Photos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light" asp-page="/Admin/Media/Index">Media</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light" asp-page="/Admin/Biography/Edit">Biography</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light" href="@emailOptions.Value.EmailUrl" target="_blank">Email</a>
                            </li>
                        }
                        @if (isOwner)
                        {
                            <li class="nav-item">
                                <a class="nav-link link-light" asp-page="/Admin/Users/Index">Users</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fslightbox/index.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="module">
        const toast = document.getElementById("toast");
        if (toast) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
            toastBootstrap.show();
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
