@inject IOptions<KatieComedy.Web.Cloudflare.CloudflareOptions> cloudflareOptions;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KatieComedy</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body data-bs-theme="dark">

Under construction

    @{
        IgnoreBody();
    }

    @*     <div class="container ">
        <main role="main" class="pb-3 d-flex justify-content-center">
            <partial name="_Toaster" />
            @RenderBody()
        </main>
    </div> *@

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="module">
        const toast = document.getElementById("toast");
        if (toast) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
            toastBootstrap.show();
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
