@page
@model KatieComedy.Web.Pages.Admin.Users.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="flex-column">
    <div class="mb-3">
        <h4 class="mb-0">@ViewData["Title"]</h4>
    </div>
    <form method="post" class="border rounded p-3">
        <div class="form-group mb-3">
            <label asp-for="DecodedEmail" class="mb-2"></label>
            <input asp-for="DecodedEmail" class="form-control" aria-required="true" disabled readonly />
        </div>

        <div class="col-md-12 mb-3">
            <label asp-for="Password" class="mb-2"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-1 d-flex">
            <button class="btn btn-primary me-1">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
