@page
@model KatieComedy.Web.Pages.ContactModel
@inject IOptions<KatieComedy.Web.Cloudflare.CloudflareOptions> cloudflareOptions;

<form method="post">
    <fieldset class="row border rounded p-2 mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-md-12 mb-3">
            <label asp-for="Name" class="mb-2"></label>
            <input asp-for="Name" class="form-control" rows="3">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-3">
            <label asp-for="Email" class="mb-2"></label>
            <input asp-for="Email" class="form-control" rows="3">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-3">
            <label asp-for="Message" class="mb-2"></label>
            <input asp-for="Message" class="form-control" rows="3">
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-3">
            <button class="btn btn-primary me-1">Send</button>
        </div>
    </fieldset>
    <div class="cf-turnstile float-end" data-sitekey="@cloudflareOptions.Value.TurnstileSiteKey"></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
