@page
@using App.Media
@model KatieComedy.Web.Pages.MediaModel

<ul class="list-group w-100">
    @foreach (var media in Model.Media)
    {
        var iconClass = media.Type switch
        {
            MediaType.Text => "bi bi-book-half",
            MediaType.Audio => "bi bi-mic",
            MediaType.Video => "bi bi-camera-video",
            _ => string.Empty
        };

        <li class="list-group-item d-flex justify-content-between background-cream">
            <span><a href="@media.Url" target="_blank">@media.Title</a></span>
            <span class="badge text-display-large fs-6 fw-normal background-blue-grey" title="@media.Type">
                <i class="@iconClass"></i>
            </span>
        </li>
    }
</ul>
